.container{
    background-color: lightblue;
    padding: 16px;
    border: 4px solid blue;
    margin: 8px;
    display: flex;
    gap: 10px;
}

.item{
    background-color: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    flex: 1;
    padding: 4px;
}